<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"s>
<head><title>Fridge Contents</title></head>
<body>
<h1>Fridge Contents</h1>
	Refrigerator ID: <b th:text="${refrigerator.id}" /> <br/>
	<table>
		<tr>
			<th>Item Name</th>
			<th>Amount</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="item : ${items}">
			<td th:text="${item.name}"></td>
			<td th:text="${item.count}"></td>
			<td>
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/refrigerator/update/{id}/{itemid} (id=${refrigerator.id}, itemid=${item.id})}">Update</a>
			</td>
			
			<td>
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/refrigerator/delete/{id}/{itemid} (id=${refrigerator.id}, itemid=${item.id})}">Delete</a>
			</td>
		</tr>
	</table>
	<a th:href="@{/refrigerator/add/{id}(id=${refrigerator.id})}">Add Item</a>
</body>
</html>